.col-5 {
    background-image: url(../img/loginBackground.jpg);
    background-size : cover;
    background-repeat: no-repeat;
}

.title {
    color: #e25822;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.welcome-title {
    color : white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.welcome-message {
    color : white;
    font-size : 25px;
    text-align : center;
}

input[type=text], input[type=password] {
    width : 500px;
    height: 60px;
    border : none;
    background-color: #f1f2f6;
    margin-bottom : 10px;
}

input[type=text]:focus, input[type=password]:focus {
    width : 500px;
    height: 60px;
    border : none;
    outline : none;
    box-shadow: none;
    background-color: #f1f2f6;
    margin-bottom : 10px;
}

.btn-primary {
    background-color: #e25822 !important;
    width : 200px;
    border-radius : 25px 25px 25px 25px !important;
    border : none !important;
    margin-top : 50px;
}

.btn-primary:focus {
    border : 1px solid white !important;
    outline : none !important;
    box-shadow : none !important;
}

.alert {
    width : 500px;
}

.flash {
    animation : flashing 5s linear 1 forwards;
}

@keyframes flashing {
    0% {opacity : 0;}
    10% {opacity : 0.2;}
    20% {opacity : 0.4;}
    30% {opacity : 0.6;}
    35% {opacity : 0.8;}
    40% {opacity : 1;}
    60% {opacity : 1;}
    70% {opacity : 0.8;}
    75% {opacity : 0.6;}
    80% {opacity : 0.4;}
    90% {opacityt : 0.2;}
    100% {opacity : 0;}
    
}