/* ========== HEADER SECTION ==========*/

    /* NAVBAR PART */

    header {
        height: 750px;
    }

    .navbar {
        height : 10%;
        margin-bottom : -24px;
    }
    
    .navbar-brand,
    .navbar-brand:hover {
        color : white;
        font-family : 'Roboto', sans-serif !important;;
        font-size : 25px;
        margin : 0px 35px 0px 35px;
    }
    
    .nav-link,
    .nav-link:hover,
    .nav-link:focus {
        color : white;
        font-family : 'Roboto', sans-serif !important;
        font-size : 20px;
        margin : 0px 35px 0px 35px;
    }


    /* BACKGROUND IMAGE PART */
    .headerImg {
        width : 100%;
        height : 90%;
        float : left;
        background : url(../img/headerImage.jpg) no-repeat center fixed;
        background-size : cover;
    }



/* ========== BODY SECTION ========== */

    body {
        background-color : #D3D5FC;
        font-family : 'Roboto', sans-serif;
    }

    /* COLOR PART */
    .red {
        background-color : #DB2D52;
    }

    .blue {
        background-color : #706CCA;
    }
    
    .yellow {
        background-color : #ECB42B;
    }


    /* WIDTH PART */
    
    .w-circle {
        width : 35px;
    }
    
    .w-40 {
        width : 40%;
    }


    /* HEIGHT PART */

    
    .h-35px {
        height : 35px;
    }

    .h-50px {
        height : 50px;
    }

    .h-800px {
        height : 800px;
    }


    /* BORDER RADIUS PART */

    .b-radius {
        border-radius : 35px 35px 35px 35px;
    }


    /* SPACING PART */

    .margin-t-5px {
        margin-top : 5px;
    }
    
    .margin-t-15px {
        margin-top : 15px;
    }


    /* DIV PART */

    .separator-50px {
        width : 100%;
        height : 50px;
    }

    .separator-150px {
        width : 100%;
        height : 150px;
        background-color : #D3D5FC;
    }

    .separator-250px {
        width : 100%;
        height : 250px;
    }

    .flex {
        display : flex;
    }

    .margin-r-25px {
        margin-right : 25px;
    }


    /* LINE HEIGHT  & LETTER SPACING PART */

    .l-height-50px {
        line-height : 50px;
    }
    
    .l-height-35px {
        line-height : 35px;
    }

    .l-height-80px {
        line-height : 80px;
    }

    .l-spacing {
        letter-spacing : 8px;
    }


    /* IMAGE FIREMAN AND BARRACK PART */

    .barrackImg {
        width : 90%;
        height : 500px;
        background-image : url(../img/barrack.png);
        background-size : cover;
        background-repeat : no-repeat;
        margin-left : 5%;
        border-radius : 20px 20px 20px 20px;
    }
    
    .firemanImg {
        width : 90%;
        height : 500px;
        background-image : url(../img/fireman.jpg);
        background-size : cover;
        background-repeat : no-repeat;
        margin-left : 5%;
        border-radius : 20px 20px 20px 20px;
    }


    /* TITLE CUSTOMIZATION PART */

    h1,h2 {
        font-family : 'Roboto', sans-serif;
        color : white;
    }

    .f-size-30px {
        font-size : 30px;
    }

    .f-size-25px {
        font-size : 25px;
    }


    /* BUTTON CUSTOMIZATION PART */

    .btn-primary {
        background-color : #DB2D52 !important;
        border : none;
        font-size : 20px;
        height : 50px;
    }

    .btn-primary:hover {
        background-color : #FF7D99 !important;
        border : none;

    }


    .btn-primary:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #FF7D99 !important;
    }

    .btn-secondary {
        background-color : #ECB42B !important;
        border : none;
        font-size : 20px;
        height : 50px;
    }

    .btn-secondary:hover {
        background-color : #FFDE47 !important;
        border : none;
    }

    .btn-secondary:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #FFDE47 !important;
    }


    /* FOOTER CUSTOMIZATION */

    footer {
        background-color : #6F58FF;
        width : 100%;
        height : 80px;
    }