/* ========== HEADER SECTION ==========*/

    /* NAVBAR PART */

    header {
        height: 750px;
    }

    .navbar {
        height : 10%;
        margin-bottom : -24px;
    }
    
    .navbar-brand,
    .navbar-brand:hover {
        color : white;
        font-family : 'Roboto', sans-serif !important;;
        font-size : 25px;
        margin : 0px 35px 0px 35px;
    }
    
    .nav-link,
    .nav-link:hover,
    .nav-link:focus {
        color : white;
        font-family : 'Roboto', sans-serif !important;
        font-size : 20px;
        margin : 0px 35px 0px 35px;
    }


    /* BACKGROUND IMAGE PART */
    .headerImg {
        width : 100%;
        height : 90%;
        float : left;
        background : url(../img/headerImage.jpg) no-repeat center fixed;
        background-size : cover;
    }



/* ========== BODY SECTION ========== */

    body {
        background-color : #D3D5FC;
        font-family : 'Roboto', sans-serif;
    }

    /* COLOR PART */
    .red {
        background-color : #DB2D52;
    }

    .blue {
        background-color : #706CCA;
    }

    .l-blue {
        background-color : #D3D5FC;
    }
    
    .yellow {
        background-color : #ECB42B;
    }

    .green {
        background-color : #16a085;
    }

    .grey {
        background-color : #636e72;
    }

    .dark-red {
        background-color : #820024;
    }

    .white {
        background-color : #f5f6fa;
    }


    /* WIDTH PART */
    
    .w-circle {
        width : 35px;
    }

    .w-15 {
        width : 15%;
    }

    .w-30 {
        width : 30%;
    }
    
    .w-40 {
        width : 40%;
    }

    .w-70 {
        width : 70%;
    }

    .w-90 {
        width : 90%;
    }

    .w-100 {
        width : 100%;
    }



    /* HEIGHT PART */

    
    .h-35px {
        height : 35px;
    }

    .h-50px {
        height : 50px;
    }

    .h-150px {
        height : 150px;
    }

    .h-800px {
        height : 800px;
    }


    /* BORDER RADIUS PART */

    .b-radius {
        border-radius : 35px 35px 35px 35px;
    }

    .b-radius-left {
        border-radius : 35px 0px 0px 35px;
    }

    .b-radius-right {
        border-radius : 0px 35px 35px 0px;
    }

    .b-radius-card {
        border-radius : 70px 0px 70px 0px;
    }

    .b-radius-info {
        border-radius : 35px 0px 35px 0px;
    }

    .b-radius-error {
        border-radius : 35px 0px 35px 35px;
    }


    /* SPACING PART */

    .margin-t-5px {
        margin-top : 5px;
    }
    
    .margin-t-15px {
        margin-top : 15px;
    }

    .margin-t-20px {
        margin-top : 20px;
    }

    .margin-t-40px {
        margin-top : 40px;
    }

    .margin-l-5p {
        margin-left : 5%;
    }

    .margin-r-5p {
        margin-right : 5%;
    }

    .margin-r-25px {
        margin-right : 25px;
    }

    .margin-r-80px {
        margin-right : 80px;
    }

    .margin-right-100px {
        margin-right : 100px;
    }


    /* DIV PART */

    .separator-50px {
        width : 100%;
        height : 50px;
    }

    .separator-150px {
        width : 100%;
        height : 150px;
        background-color : #D3D5FC;
    }

    .separator-250px {
        width : 100%;
        height : 250px;
    }

    .flex {
        display : flex;
    }


    /* FLOAT PART */
    .f-r {
        float : right;
    }


    /* LINE HEIGHT  & LETTER SPACING PART */

    .l-height-50px {
        line-height : 50px;
    }
    
    .l-height-35px {
        line-height : 35px;
    }

    .l-height-80px {
        line-height : 80px;
    }

    .l-height-150px {
        line-height : 150px;
    }

    .l-spacing {
        letter-spacing : 8px;
    }


    /* IMAGE FIREMAN AND BARRACK PART */

    .barrackImg {
        width : 90%;
        height : 500px;
        background-image : url(../img/barrack.png);
        background-size : cover;
        background-repeat : no-repeat;
        margin-left : 5%;
        border-radius : 20px 20px 20px 20px;
    }
    
    .firemanImg {
        width : 90%;
        height : 500px;
        background-image : url(../img/fireman.jpg);
        background-size : cover;
        background-repeat : no-repeat;
        margin-left : 5%;
        border-radius : 20px 20px 20px 20px;
    }


    /* TITLE CUSTOMIZATION PART */

    h1,h2 {
        font-family : 'Roboto', sans-serif;
        color : white;
    }

    .f-size-30px {
        font-size : 30px;
    }

    .f-size-25px {
        font-size : 25px;
    }


    /* BUTTON & INPUT CUSTOMIZATION PART */

    .btn-primary {
        background-color : #DB2D52 !important;
        border : none;
        font-size : 20px;
        height : 50px;
    }

    .btn-primary:hover {
        background-color : #FF7D99 !important;
        border : none;
    }

    .btn-primary:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #FF7D99 !important;
    }

    .btn-secondary {
        background-color : #ECB42B !important;
        border : none;
        font-size : 20px;
        height : 50px;
    }

    .btn-secondary:hover {
        background-color : #FFDE47 !important;
        border : none;
    }

    .btn-secondary:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #FFDE47 !important;
    }

    .btn-warning {
        background-color : #f1c40f !important;
        border : none;
        color : white;
        font-size : 20px;
    }

    .btn-warning:hover {
        background-color : #ffdd59 !important;
        border : none;
        color : white;
    }

    .btn-warning:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #ffdd59 !important;
        color : white;
    }

    .btn-danger {
        background-color : #b33939 !important;
        border : none;
        color : white;
        font-size : 20px;
    }

    .btn-danger:hover {
        background-color : #ff5252 !important;
        border : none;
        color : white;
    }

    .btn-danger:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #ff5252 !important;
        color : white;
    }

    .btn-info {
        background-color : #636e72 !important;
        border : none;
        color : white;
    }

    .btn-info:hover {
        background-color : #b2bec3 !important;
        border : none;
        color : white;
    }

    .btn-info:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #b2bec3 !important;
        color : white;
    }

    .btn-success {
        background-color : #16a085 !important;
        border : none;
        color : white;
        font-size : 20px;
    }

    .btn-success:hover {
        background-color : #1abc9c !important;
        border : none;
    }

    .btn-success:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #1abc9c !important;
    }

    .btn-dark {
        background-color : #7f8c8d !important;
        border : none;
        color : white;
        font-size : 20px;
    }

    .btn-dark:hover {
        background-color : #bdc3c7 !important;
        border : none;
    }

    .btn-dark:focus {
        outline : none !important;
        box-shadow : none !important;
        background-color : #bdc3c7 !important;
    }


    /* INPUT PART */
    .row {
        margin-left : 10%;
    }

    input[type=text]:focus,input[type=number]:focus,input[type=date]:focus {
        outline : none;
        box-shadow : none;
        border : 1px solid #706CCA;
    }


    /* TABLE PART */

    table tr, table th, table td {
        border-bottom : 2px solid black;
        border-right : none !important;
        border-left : none !important;
        border-top : none !important;
        height : 75px;
    }


    /* CARD RESEARCH PART */
    .card-image {
        background-image : url(../img/firemanCard.jpg);
        background-size : cover;
        background-repeat : no-repeat;
        margin-left : -15px;
    }

    .card-info {
        margin-right : -15px;
    }


    .firemanInfo {
        font-size : 25px;
        text-align : justify ;
        margin-left : 20px;
    }

    li {
        font-size : 25px;
    }

    .liste{ 
        list-style: none; 
    }

    .liste::before {
        content: "\2022";   
        color: #706CCA;
        display: inline-block;  
        width: 1em; 
        margin-left: -1em;
    }


    /* PART : FLASH ANIMATION */

    .flash {
        animation : flashing 5s linear 1 forwards;
    }

    @keyframes flashing {
        0% {opacity : 0;}
        10% {opacity : 0.2;}
        20% {opacity : 0.4;}
        30% {opacity : 0.6;}
        35% {opacity : 0.8;}
        40% {opacity : 1;}
        60% {opacity : 1;}
        70% {opacity : 0.8;}
        75% {opacity : 0.6;}
        80% {opacity : 0.4;}
        90% {opacityt : 0.2;}
        100% {opacity : 0;}
        
    }



    /* FOOTER CUSTOMIZATION */

    footer {
        background-color : #6F58FF;
        width : 100%;
        height : 80px;
    }